<?xml version="1.0"?>
<launch>

  <!-- <include file="$(find very_simple_robot_simulator)/launch/minimal_simulator.launch" />
  <include file="$(find very_simple_robot_simulator)/launch/lidar_simulator.launch" /> -->
  <node pkg="very_simple_robot_simulator" name ="kobuki_simulator" type ="kobuki_simulator">
  </node>

  <node pkg="very_simple_robot_simulator" name ="lidar_simulator" type ="lidar_simulator">
    <param name="effective_hfov" value="181"/> 
    <param name="view_depth" value="20.0"/>  <!-- creo que está bien instanciado -->
  </node>
<!-- levantar nodo map_server. Entregándole la posición del mapa -->
 <node name="map_server" pkg="map_server" type="map_server" args="$(find proyecto_final)/maps/mapa_bodega.yaml" />

<!-- levantar nodo tf para transformación de ejes de coordenadas. Entregar como parámetro  de diferencia de coordenadas (0,0,0,0,0,0)-->
<node pkg="tf" type="static_transform_publisher" name="transormador_coords" args="0 0 0 0 0 0 link1_parent link1 100" />
<!-- no estoy seguro de si los últimos 3 valores son necesarios -->

<!-- levantar rviz para visualización -->
<node pkg="rviz" type="rviz" name="rviz"/>

<!-- levantar el AMCL -->
<node pkg="amcl" type="amcl" name="amcl">
  <param name="odom_model_type" value="diff"/> <!-- configuración de ruedas del bot -->
  <param name="use_map_topic" value="true"/> <!-- decirle que use el tópico map-->
  <!-- Pose inicial -->
  <param name="initial_pose_x" value="5.325"/> 
  <param name="initial_pose_y" value="0.814"/>
  <param name="initial_pose_a" value="1.570"/> <!-- yaw =pi/2 -->
  <!-- autoexplicativos -->
  <param name="laser_max_beams" value="181"/>
  <param name="min_particles" value="250"/>
</node>

<!-- levantar stack de navegación -->
<node pkg="move_base" type="move_base" name="move_base">
<param name="controller_frequency" value = "5.0"/>
<rosparam file="$(find proyecto_final)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
<rosparam file="$(find proyecto_final)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
<rosparam file="$(find proyecto_final)/param/local_costmap_params.yaml" command="load" />
<rosparam file="$(find proyecto_final)/param/global_costmap_params.yaml" command="load" />
<rosparam file="$(find proyecto_final)/param/dwa_local_planner_params.yaml" command="load" />
<rosparam file="$(find proyecto_final)/param/move_base_params.yaml" command="load" />
</node>

<!-- levantamos el script que entregará las poses. Conviene levantarlo manualmente después de tener todo listo -->
<!-- <node pkg="proyecto_final" type="set_nav_goals.py" name="script_poses" /> -->

<!-- <node pkg="very_simple_robot_simulator" name ="world_state_gui" type ="world_state_gui.py">
  <param name="/map_file" type="yaml" value="$(find lab-3)/mapas/mapa.yaml"/>
</node> -->
<!-- <node pkg="rqt_image_view" name="image_view_debug" type="rqt_image_view"  args="/img_map"/> -->   
</launch>
